// Page widths
$width-max-outer: 1200px;
$width-max-inner: 960px;

// Colors
$color-background: rgb(245,245,245);
$color-page: rgb(255,255,255);

$color-accent: rgb(255,113,75);
$color-highlight: rgb(245,223,75);
$color-shadow: rgb(200,200,200);
$color-button: rgba(200,220,235,0.8);

// Text Colors
$color-text-default: rgb(30,30,30);

// Fonts
$sans-serif: 'Open Sans', sans-serif;

// Shadows
$button-shadow: 3px 3px 3px $color-shadow;