/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,600';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------||
|| Typography ||
||-------------*/
body {
  color: #1e1e1e;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em;
  text-transform: uppercase; }

h1, h2 {
  font-weight: bold; }

input[type=number],
input[type=submit],
button {
  font-size: inherit; }

input[type=submit],
button {
  text-transform: uppercase; }
  input[type=submit]:hover,
  button:hover {
    color: whitesmoke; }

.player-name,
.score {
  font-weight: bold; }

.score {
  color: inherit;
  font-size: inherit; }

/*--------||
|| Layout ||
||--------*/
body {
  background: whitesmoke;
  width: 100%; }

h1, h2 {
  margin-bottom: 1em; }

p {
  margin-bottom: 1em; }

form li {
  list-style-type: none;
  margin: 0.5em 0; }

input[type=number],
input[type=text] {
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  padding: 3px;
  text-align: center; }

input[type=number] {
  max-width: 50px; }

input[class=score] {
  -webkit-appearance: none;
  background: none;
  border: 0; }

input[class=player-name] {
  text-align: left; }

input[type=submit],
button {
  -webkit-appearance: none;
  background: rgba(200, 220, 235, 0.8);
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #c8c8c8;
  cursor: pointer;
  margin-top: 1em;
  padding: 5px 10px; }
  input[type=submit]:hover,
  button:hover {
    background: #ff714b;
    transition: background 0.3s, color 0.3s; }

.current {
  background: #f5df4b;
  display: block;
  width: 100%; }

.player {
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.5em; }
  .player p {
    margin-bottom: 0; }

#page {
  background: white;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
  width: auto; }

#players {
  display: inline-block;
  margin-bottom: 2em;
  width: auto; }

/*# sourceMappingURL=main.css.map */